/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}

/* FLEXBOX - CSS to make HTML page footer stay at bottom of the page with a minimum height, but not overlap the page
 */
body {
    height: 100vh;
    margin: 0;
}

header {
    min-height: 50px;
}
footer {
    min-height: 50px;
}

/* Trick */
body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

/* FONT FAMILY */
/* @import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"); */
body {
    font-family: arial, "Open Sans", sans-serif;
    font-size: 14px;
    color: #222;
}

/* NAV BAR */
#header-container {
    display: flex;
    justify-content: flex-end;
    height: 60px;
}

.nav-1,
.nav-2,
.nav-2 > .logo-padding {
    display: flex;
    align-items: center;
}

/* ACCOUNT LOGO - ICON */
.logo-padding > img {
    border: 5px solid transparent;
}
.logo-padding > img:hover {
    border: 5px solid rgba(60, 64, 67, 0.08);
    cursor: pointer;
}

.nav-1 {
    padding-right: 15px;
}

.nav-1 > .menu-1 {
    padding-right: 15px;
}

.nav-2 > .icon-padding {
    padding-right: 15px;
}

/* NAV BAR "MENU" ICON */
.nav-2 > .icon-padding > .fa-bars {
    font-size: 20px;
    border-radius: 50%;
}

.nav-2 > .icon-padding > .fa-bars:hover {
    font-size: 20px;
    background-color: rgba(60, 64, 67, 0.08);
    cursor: pointer;
}

/* .icon-2 {
    padding-right: 7.5px;
} */

.logo-padding,
.icon-padding {
    padding-right: 17px;
    display: flex;
}
.logo-padding > img {
    border-radius: 50%;
    height: 32px;
}

.nav-1 a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
}

.nav-1 a:hover {
    text-decoration: underline;
}

/* MAIN CONTENT CSS */

/* LOGO CONTAINER */

#logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* xD */
    height: 294px;
}

/* SEARCH BORDER / CONTAINER*/

#search-border {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 8px 5px 14px;
}

#search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 482px;
    height: 44px;
}

/* search input  > search icon styling */

#search-input > .icon {
    padding: 15px;
    color: rgba(0, 0, 0, 0.54);
}

#search-input > .fa-microphone-alt {
    padding: 15px;
    color: red;
    cursor: pointer;
}

/* SEARCH FIELD STYLING */

#search-field {
    width: 100%;
    height: 27px;
    border: none;
    font-size: 17px;
}

#search-field:focus {
    outline: none;
}

/* SEARCH MYGTUKAI */

#search-bottom {
    padding: 18px 0 0 0;
    display: flex;
    justify-content: center;
}

.btn {
    height: 36px;
    font-size: 14px;
    background-color: #f2f2f2;
    color: #222;
    padding: 7.5px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #dadce0;
}

/* FOOTER */

#foot-container {
    display: flex;
    /* for "bigger" screen */
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    height: auto;
    border-top: 1px solid #dadce0;
}

/* for "smaller" screen */
@media screen and (max-width: 624px) {
    #foot-container {
        justify-content: center;
        align-items: center;
    }
}

ul {
    display: flex;
    justify-content: center;
}

ul > li {
    display: inline;
    text-align: center;
    padding: 15px;
}

ul > li > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
}

ul > li > a:hover {
    text-decoration: underline;
}
